:root  > * {
  --md-primary-fg-color:        #005aff;
  --md-primary-fg-color--light: #000a37;

  --md-primary-fg-color--dark:  #000a37;
  --md-accent-fg-color:          #005aff;
 
  --md-primary-bg-color: white;
  --md-footer-bg-color:  #000a37;
  
  --md-footer-fg-color--light:     white;
  --md-footer-fg-color--lighter:  white;
  --md-footer-fg-color--dark:      #000a37;

}