:root  > * {
  --md-primary-fg-color:        #005aff;
  --md-primary-fg-color--light: #000a37;


  --md-primary-fg-color--dark:  #000a37;
  --md-accent-fg-color:          #005aff;
 
  --md-primary-bg-color: white;
  --md-footer-bg-color:  #000a37;
  
  --md-footer-fg-color--light:     white;
  --md-footer-fg-color--lighter:  white;
  --md-footer-fg-color--dark:      #000a37;


  
}


.md-typeset .admonition.sickinfo,
.md-typeset details.sickinfo {
  border-width: 0;
  border-left-width: 4px;
  border-color: rgb(0,90,255);


}
.md-typeset .sickinfo > .admonition-title, 
.md-typeset .sickinfo > summary {
  background-color: rgba(0,90,255,0.1);
}
.md-typeset .sickinfo > .admonition-title::before,
.md-typeset .sickinfo > summary::before{
  background-color: rgb(0,90,255);
}


blockquote {
  margin-left: 2em;
  -webkit-text-fill-color: rgb(0, 0, 0);
  background-color: #fafafa;
}